export(add.varianceestimate)
export(classical.test)
export(crossvalidate.pim)
export(demo.BrownHettmansperger)
export(demo.JonckheereTerpstra)
export(demo.KruskalWallis)
export(demo.MackSkillings)
export(demo.MackWolfe)
export(demo.WilcoxonMannWhitney)
export(design.matrix)
export(estimator.BB)
export(estimator.glm)
export(estimator.glmnet)
export(estimator.nleqslv)
export(estimator.trymultiple)
export(forcedcolorderonewayposet)
export(Freplacetext)
export(fullposet)
export(IPI)
export(legacy.BrownHettmansperger)
export(legacy.JonckheereTerpstra)
export(legacy.KruskalWallis)
export(legacy.MackSkillings)
export(legacy.MackWolfe)
export(legacy.WilcoxonMannWhitney)
export(LHSreplacetext)
export(Lreplacetext)
export(Mainreplacetext)
export(oldpimposet)
export(oldpimposetbft)
export(onewayposet)
export(Oreplacetext)
export(pairwiseposet)
export(pim)
export(pim.fit)
export(pim.fit.prep)
export(pimformula)
export(posandwich.estimator)
export(posandwich.estimator.Uforposandwich)
export(responses)
export(Rreplacetext)
export(scorefunctioncreator.default)
export(simplifiedpimestimation.marginalcoefficients)
export(simplifiedpimestimation.marginalcovariance)
export(simplifiedpimestimation.pairwisecoefficients)
export(simplifiedpimestimation.pairwisecovariance)
export(Uforposandwich.default)
export(Uforposandwich.fakeH0)
export(varianceestimator.bootstrap)
export(varianceestimator.glm)
export(varianceestimator.H0)
export(varianceestimator.sandwich)
import(BB)
import(glmnet)
import(MASS)
import(Matrix)
import(nleqslv)
S3method(design.matrix,pim)
S3method(plot,pim)
S3method(print,pim)
S3method(print,summary.pim)
S3method(responses,pim)
S3method(summary,pim)
S3method(vcov,pim)
